## Урок 1

### Условие 1

### Условие 2

In [1]:
## На складе лежат разные фрукты в разном количестве.
## Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество,
## а возвращает общее количество фруктов на складе, при помощи использования kwargs

In [2]:
def total_fruits(**fruits):
    total = 0
    for amount in fruits.values():
        total += amount
    return total
total_fruits(apple=24,mango=5,avocado=7,pear=14)

50

### Условие 3

In [3]:
## Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. 
## Удалите такие значения из списка и посчитайте суммарные затраты
## [100, 125, -90, 345, 655, -1, 0, 200]
## Используйте list comprehensions

In [4]:
market=[100, 125, -90, 345, 655, -1, 0, 200]
sum([i for i in market if i>0])

1425

### Условие 4

In [3]:
## Даны два списка.
## Дата покупки
## ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
## '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23',
##'2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
## '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13',
## '2021-10-26', '2021-12-09']
## Суммы покупок по датам
##[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988,
## 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

#### Условие 4.1

In [6]:
## Найдите, какая выручка у компании в ноябре
## Используйте list comprehensions

In [7]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
 '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23',
 '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
 '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13',
 '2021-10-26', '2021-12-09']
revenue = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988,
 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [8]:
sum([revenue[i] for i in range(len(dates)) if dates[i].split("-")[1] == "11"])

25098

#### Условие 4.2

In [9]:
## Найдите выручку компании в зависимости от месяца 
## Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь,
## где ключи - это месяцы, а значения - это выручка.
## Используйте аннотирование типов

In [5]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
 '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23',
 '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
 '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13',
 '2021-10-26', '2021-12-09']
revenue = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988,
 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

def calc_revenue_for_month (dates: list, revenue: list)->dict:
    revenue_for_month = {}
    
    for i in range(len(dates)):
        month = dates[i].split("-")[1]
        if month in revenue_for_month.keys():
            revenue_for_month[month]+= revenue[i]            
        else:
            revenue_for_month[month] = revenue[i]
    return revenue_for_month

calc_revenue_for_month (dates, revenue)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}